Package: com.padidar.whatsappseen
Name: WhatsApp Seen
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Disable Read Receipt WhatsApp!
Maintainer: Nima Akbarzade
Author: Nima Akbarzade
Section: Tweaks
Depiction: https://iw4p.github.io/repo/depictions/?p=com.padidar.whatsappseen
