Package: com.yourcompany.whatsapp
Name: WhatsApp
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Nima Akbarzade
Author: Nima Akbarzade
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 104
